header {
    margin-bottom: 20px;
}

.mainHeader {}

.navbar-brand {
    margin-right: 50px;
}

.mainNav {
    gap: 10px;

    .nav-link {
        position: relative;
        font-size: 14px;
        font-weight: 500;
        color: #333;

        &:before {
            content: '';
            position: absolute;
            bottom: -3px;
            left: 0;
            right: 0;
            width: 20%;
            height: 4px;
            margin: 0 auto;
            border-radius: 4px;

            background: $secondary;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s;

            @include media-breakpoint-down(lg) {
                width: 10%;
                height: 2px;
                right: initial;
            }
        }

        &:after {
            display: none;
        }

        &:hover,
        &:focus,
        &:active,
        &.active {
            color: $secondary;

            &:before {
                width: 90%;
                visibility: visible;
                opacity: 1;

                @include media-breakpoint-down(lg) {
                    width: 100%;
                    right: initial;
                }
            }
        }

    }
}

.dropdown-menu {
    border: 1px solid #E5E5E5;
    border-top: 2px solid #BFA161;

    box-shadow: 0px 10px 20px 0px #00000026;
    border-radius: 12px;

    .dropdown-item {
        font-size: 13px;
        font-weight: 500;
        color: #666666;

        &:not(:last-child) {
            border-bottom: 1px solid #E5E5E5;
        }

        &:hover,
        &:focus,
        &:active,
        &.active {
            color: $secondary;
        }
    }
}

.hSearch {
    position: relative;

    @include media-breakpoint-down(lg) {
        margin: 15px 0;
    }

    .form-control {
        border: 1px solid #E5E5E5;
        border-radius: 100px;
        padding: 0.25rem 0.875rem;
        font-size: 12px;
        font-weight: 500;

        @include media-breakpoint-down(lg) {
            padding: 0.5rem 0.85rem;
        }

    }

    .hsIcon {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
}

.hExtras {

    .btn {
        background: transparent;
        padding: 5px;
        border: none;
        font-size: 15px;
        font-weight: 500;
        color: #333;

        &:after {
            display: none;
        }

        .dToggle {
            margin-left: 2px;
            font-size: 11px;
        }

        &:hover {
            color: $secondary;
        }
    }
}

// Ticker
.hTicker {

    display: flex;
    align-items: center;
    gap: 10px;

    border-radius: 100px;
    border: 1px solid #E5E5E5;

    overflow: hidden;
    width: 100%;

    @include media-breakpoint-down(md) {}

    .htPlay {

        a {
            display: flex;
            align-items: center;
            gap: 5px;
            background: #F5E9CE;
            color: #333;
            width: 120px;
            padding: 5px;
            border-radius: 100px;
            transition: all 0.3s;

            @include media-breakpoint-down(lg) {
                width: auto;
            }

            &:hover {
                background: $secondary;
                color: #fff;
            }

            span {
                font-size: 11px;
                font-weight: 700;
                text-transform: uppercase;
                flex: 1;
                line-height: 1;
                text-align: center;

                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }

            b {
                border: 2px solid #fff;
                background: $success;
                border-radius: 50%;
                padding: 2px;
                font-size: 10px;
                font-weight: 700;
                color: #fff;
                height: 23px;
                width: 23px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;

            }
        }
    }

    .htMarquee {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 500;
        color: #333;

        span {
            position: relative;
            display: inline-block;
            padding-left: 8px;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50%;
                width: 3px;
                height: 3px;
                background: #333;
            }
        }
    }

    .htStocks {
        flex-basis: 360px;
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 0 10px;

        @include media-breakpoint-down(lg) {
            gap: 6px;
        }

        @include media-breakpoint-down(md) {
            display: none;
        }

        img {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            margin-right: 5px;
        }

        .htStock {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2px;

            .htArrow {
                height: 16px;
                width: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 5px;
                background: #E0FFDF;
                border-radius: 50%;
                position: relative;
                transform: rotate(0deg);
                font-size: 12px;
            }

            span {
                font-size: 12px;
                font-weight: 500;
                color: #333;
                white-space: nowrap;
            }

            &.hts-success {

                .htArrow {
                    background: #E0FFDF;
                    color: $success;
                }
            }

            &.hts-danger {

                .htArrow {
                    background: #FFD9D9;
                    color: $danger;
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.rfm-marquee-container {
    gap: 10px;
}

.rfm-marquee {
    gap: 10px;
}

.rfm-initial-child-container {
    gap: 10px;

    .rfm-child {}
}