.slider {}

.homeSlider {
    position: relative;
    margin-bottom: 30px;

    .slick-dots {
        bottom: 20px;
        left: 30px;
        width: auto;

        li {
            height: auto;
            width: auto;
            cursor: default;

            button {
                width: 8px;
                height: 8px;
                border-radius: 8px;
                padding: 0;
                background: #00000033;
                border: none;
                cursor: pointer;
                transition: all 0.3s;

                &:before {
                    display: none;
                }
            }

            &.slick-active {

                button {
                    background: #000;
                    width: 24px;
                }
            }
        }
    }
}

.hsItem {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DEE7FF;
    padding: 30px;
    border-radius: 6px;

    .hsBox {
        align-items: center;

        .captions {
            @include media-breakpoint-down(lg) {
                margin: 0 0 20px;
            }

            .tag {
                border-radius: 100px;
                font-size: 12px;
                padding: 9px 15px;
                margin: 0 0 10px;
            }

            h3 {
                font-size: 36px;
                font-weight: 900;
                margin: 0 0 5px;

                @include media-breakpoint-down(md) {
                    font-size: 28px;
                }

            }

            p {
                font-size: 16px;
                margin: 0 0 20px;
            }

            small {
                font-size: 12px;
                font-weight: 500;
            }

            .btn {}
        }

        .hsImg {
            position: relative;
            overflow: hidden;
            border-radius: 6px;
            min-height: 450px;
            height: 450px;

            @include media-breakpoint-down(lg) {
                margin: 0 0 20px;
            }

            .hsIcon {
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                color: #fff;
                font-size: 50px;
                cursor: pointer;

            }

            img {
                max-width: 100%;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &.isVideo {

        .hsBox {

            .hsImg {

                .hsIcon {
                    display: block;
                }
            }
        }
    }
}