// Custom Variables

$blue: #005CFF;
$indigo: #6610f2;
$purple: #9D85BE;
$pink: #d63384;
$red: #E32729;
$orange: #F47A20;
$yellow: #ffc107;
$green: #13A10E;
$teal: #20c997;
$cyan: #44B3D8;

$secondary: #C1A261;
$allblue: #27367F;

$link-decoration: none;

$anim-cubic: cubic-bezier(0.4, 0, 0.2, 1);